.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(10);
    height: rem(60);
    border-radius: 20px;

    color: white;
    font-size: rem(24);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &--blue {
        background-color: #37dbe9;
    }

    &--blue-trans {
        border: 3px solid #37dbe9;
        background-color: rgba(#37dbe9, .3);
    }

    &--red {
        background-color: #e93737;
    }
}



// media

@media screen and (max-width: 767px){
    .btn2{
        font-size: 13px;
    }
}