.sect2 {
    padding: rem(50) 0 0;

    &__title {
        text-align: center;
        margin-bottom: rem(27);
    }

    &__text {
        width: rem(670);
        margin: 0 auto;
        color: #707070;
        font-size: 19px;
        font-weight: 300;
        text-align: center;

        margin-bottom: rem(55);
    }

    &__blocks {
        display: flex;
    }

    &__block {
        flex: 1;
        box-shadow: 0 0 11px 7px rgba(47, 47, 47, 0.06);
        border: 1px solid #e4e4e4;
        padding: rem(25);

        text-align: center;

        &:first-child {
            margin-right: rem(25);
        }
        &:last-child {
            margin-left: rem(25);
        }

        &-img {
            margin-top: rem(-50);
            margin-bottom: rem(24);
        }
        &-title {
            color: #37dbe9;
            font-size: rem(35);
            line-height: rem(31);
            text-transform: uppercase;
            margin-bottom: rem(10);
        }
        &-text {
            color: #3c3c3c;
            font-size: rem(20);
            font-weight: 300;
            line-height: rem(35);
            margin-bottom: rem(20);
        }

        .btn2 {
            width: rem(240);
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 767px){
    .sect2{
        &__blocks{
            flex-wrap: wrap;
        }
        &__block{
            margin: 0 0 60px 0 !important;
            &-title{
                font-size: 26px;
            }
            &-text{
                font-size: 15px;
            }
        }
    }
}