.slider_product{
    max-width: 550px;
    // border: 1px solid #3c3c3c;
    margin-bottom: 40px;
    margin-left: 96px;
    position: relative;
    &__item{
        position: relative;
        img{
            display: block;
            max-width: 100%;
            position: relative;
            z-index: 3;
            background-color: #f5f5f5;
        }
    }
    
}

.slider_nav{
    width: 80px;
    position: absolute;
    left: 0;
    .slick-list{
        padding: 0 !important;
    }
    &__item{
        opacity: .5;
        // border: 1px solid rgba(60, 60, 60, .6) !important;
        margin: 5px 0;
        &:hover, &.slick-current{
            opacity: 1;
        }
        &.slick-current{
            border: 1px solid #3c3c3c;
        }

        cursor: pointer;
        img{
            display: block;
            max-width: 100%;
        }
    }
}

.slick-dots{
    li{
        width: 8px;
        height: 8px;
        background: #3c3c3c;
        border-radius: 50%;
        opacity: .5;
        &.slick-active{
            opacity: 1;
        }
        button{
            display: none;
        }
    } 
}


// изменение цвета товара

.white_group, .lblue_group, .pink_group, .blue_group{
    // display: none !important;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.activ_group{
    // display: block !important;
    position: relative;
    z-index: 2;
    opacity: 1;
}
.active_color{
    border-width: 2px;
    border-color: #e93737 !important;
}


@media screen and (max-width: 900px){
    .slider_nav{
        display: none;
    }

    .slider_product{
        margin-left: 0;
        border: none;
    }
}

@media screen and (max-width: 330px){
    .slider_product{
        &__item{
            display: flex !important;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70% !important;
                width: 70%;
            }
        }
    }
}