doctype html
html
    head
        title PageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href='./style/foundation.css')
        link(rel="stylesheet" href='./style/style.css?7')
    body

        header.header2
            .main2

                .header2__content
                    
                    .header2__logo

                    nav.header2__nav
                        a(href="#product") Our product
                        a(href="#whoisitfor") Who is it for?
                        a(href="#sizes") Pick a size
                        a(href="#faq") faq

                    a(href="tel:+7000000000").header2__tel +7000000000
                    a.header2__btn.open-modal-order order

                .burger 
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 49 24', enable-background='new 0 0 49 24', xml:space='preserve')
                        path(d='M1.1,3.5C0.5,3.5,0,3,0,2.4V1.7c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M1.1,13.8c-0.6,0-1.1-0.5-1.1-1.1V12c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M16.2,24c-0.6,0-1.1-0.5-1.1-1.1v-0.6c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.6 c0,0.6-0.5,1.1-1.1,1.1H16.2z')
                
                .adaptmenu
                    .close
                        img(src="./images/close.png", alt="")
                    .adaptmenu__content
                        nav.header2__nav.adaptmenu__nav
                            a(href="#product") Our product
                            a(href="#whoisitfor") Who is it for?
                            a(href="#sizes") Pick a size
                            a(href="#faq") faq

                        a(href="tel:+7000000000").header2__tel.adaptmenu__tel +7000000000
                        a.header2__btn.open-modal-order.adaptmenu__btn order
                    


        .sect1
            .main2

                .sect1__title NADOES
                .sect1__subtitle Run. Jump. Swirl
                .sect1__desc For those who run, jump and just can’t stay still

                .sect1__btns
                    a(href="").btn2.btn2--blue.open-modal-order order
                    a(href="./index_.html").btn2.btn2--blue-trans Find out more

        a(name="product")
        .sect2
            .main2
                .title2.sect2__title For you active little princess

                .sect2__text Do the sounds of jumping ropes, running footsteps  and endless laughter sound familiar?  If so, you are a parent of an active, high-spirited girl. Such children just can’t sit still - and that’s great! But you, as a parent, already know that! Our bloomers guarantee her comfort and your peace of mind.

                .sect2__blocks
                    .sect2__block
                        .sect2__block-img
                            img(src="./images/index2/Nadoez-finals-0009.jpg", alt="")
                        .sect2__block-title Runners
                        .sect2__block-text
                            | Faster than wind,
                            br
                            | towards adventures!
                            br
                            | Ages 3-5
                        a(href="").btn2.btn2--blue.open-modal-order order

                    .sect2__block
                        .sect2__block-img
                            img(src="./images/index2/Nadoez-finals-0019.jpg", alt="")
                        .sect2__block-title Jumpers
                        .sect2__block-text
                            | Beyond the skies,  with a jumping
                            br
                            | rope and without.
                            br
                            | Age: 6-8
                        a(href="").btn2.btn2--blue.open-modal-order order

                    .sect2__block
                        .sect2__block-img
                            img(src="./images/index2/Nadoez-finals-0002.jpg", alt="")
                        .sect2__block-title Twirlers
                        .sect2__block-text
                            | Cartwheels and handstands
                            br
                            | from an aspiring gymnast
                            br
                            | Age: 9-12
                        a(href="").btn2.btn2--blue.open-modal-order order

        a(name="whoisitfor")
        .sect3
            .main2
                .title2.sect3__title No discomfort

        .sect4
            .main2

                .sect4__blocks

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b1.png)")
                        .sect4__block-title Stylish look
                        .sect4__block-text
                            | Goes well with clothes
                            br
                            | of any style
                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b2.png)")
                        .sect4__block-title Freedom of movement
                        .sect4__block-text
                            | Your child will play,
                            br
                            | dance and move
                            br
                            | with no constraints

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b3.png)")
                        .sect4__block-title Fully conceals underwear
                        .sect4__block-text
                            | To enhance the look and avoid
                            br
                            | awkward situations

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b4.png)")
                        .sect4__block-title Ideal for schoolgirls
                        .sect4__block-text
                            | Bloomers customized
                            br
                            | with the colours of her
                            br
                            | school uniform

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b5.png)")
                        .sect4__block-title Light and breathing
                        .sect4__block-text
                            | Comfort even
                            br
                            | on hot summer days

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b6.png)")
                        .sect4__block-title Natural fabrics
                        .sect4__block-text
                            | We only work
                            br
                            | with natural materials

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b7.png)")
                        .sect4__block-title Any colour
                        .sect4__block-text
                            | A wide range of colours
                            br
                            | to go with any clothing

                    .sect4__block
                        .sect4__block-img(style="background-image: url(./images/index2/sect4-b8.png)")
                        .sect4__block-title By moms, for moms
                        .sect4__block-text
                            | Limited collections
                            br
                            | created with the needs of mothers in mind


        .sect5
            .main2

                .sect5__title Your baby girl looks like a princess…
                .sect5__subtitle.sect5__subtitle--1 … but nothing restricts
                .sect5__subtitle.sect5__subtitle--2 her active lifestyle!


        .sect6
            .main2
                .title2.sect6__title Place an order now and get 10% off

        .sect7
            .main2

                .sect7__content
                    .sect7__left
                        .sect7__left-row
                            span.sect7__label Country:
                            span  USA
                        .sect7__left-row
                            span.sect7__label Size:
                            span  How to pick the right size
                        .sect7__left-row
                            span.sect7__label For whom:
                            span  Girls under 12 years old
                        .sect7__left-row
                            span.sect7__label Availability:
                            span  In stock
                        .sect7__left-row
                            span.sect7__label Price:
                            span.sect7__left-bold  $45
                        .sect7__left-row
                            span.sect7__label Color:
                            span  Pick a color
                        .sect7__left-row.sect7__colors
                            .sect7__color(style="background-color: #439bff; border-color: #b7b7b7;")
                            .sect7__color(style="background-color: #ff55cd; border-color: #b7b7b7;")
                            .sect7__color(style="background-color: #d1cf01; border-color: #b7b7b7;")
                            .sect7__color(style="background-color: #ffffff; border-color: #b7b7b7;")
                            .sect7__color(style="background-color: #000000; border-color: #b7b7b7;")
                            .sect7__color(style="background-color: #19b2b8; border-color: #b7b7b7;")
                        .sect7__left-row
                            span.sect7__label Light, moisture wicking material

                        .sect7__left-hr

                        .sect7__left-bold $5 off when you order online

                        a(href="").btn2.btn2--red.sect7__btn.open-modal-order order

                    .sect7__right

                        .slider_nav 
                            .slider_nav__item
                                img(src="./images/index2/sect7-1.png", alt="")
                            .slider_nav__item
                                img(src="./images/index2/sect7-2.png", alt="")
                            .slider_nav__item
                                img(src="./images/index2/sect7-3.png", alt="")
                            .slider_nav__item
                                img(src="./images/index2/sect7-4.png", alt="") 

                            //- .slider_nav__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_nav__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_nav__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_nav__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")

                        .slider_product 
                            .slider_product__item
                                img(src="./images/index2/sect7-1.png", alt="")
                            .slider_product__item
                                img(src="./images/index2/sect7-2.png", alt="")
                            .slider_product__item
                                img(src="./images/index2/sect7-3.png", alt="")
                            .slider_product__item
                                img(src="./images/index2/sect7-4.png", alt="")

                            //- .slider_product__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_product__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_product__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")
                            //- .slider_product__item
                            //-     img(src="./images/index2/sect2-1.png", alt="")

                        
                        

                        
                        

        a(name="sizes")
        .sect8
            .main2
                .title2.sect8__title Sizes
                .wrapper_table
                    .sect8__table.table2.adaptive_table
                        .sect8__table-row.sect8__table-size
                            .sect8__table-cell.sect8__table-title Size
                            .sect8__table-cell
                                div 4
                                div xs
                            .sect8__table-cell
                                div 5
                                div s
                            .sect8__table-cell
                                div 6
                                div s
                            .sect8__table-cell
                                div 6x/7
                                div m
                            .sect8__table-cell
                                div 8
                                div m
                            .sect8__table-cell
                                div 10
                                div l
                            .sect8__table-cell
                                div 12
                                div l
                            .sect8__table-cell
                                div 14
                                div xl
                            .sect8__table-cell
                                div 16
                                div xxl
                        .sect8__table-row.sect8__table-age
                            .sect8__table-cell.sect8__table-title Age
                            .sect8__table-cell 3 - 4
                            .sect8__table-cell 4 - 5
                            .sect8__table-cell 5 - 6
                            .sect8__table-cell 6 - 7
                            .sect8__table-cell 7 - 8
                            .sect8__table-cell 8 - 9
                            .sect8__table-cell 9 - 10
                            .sect8__table-cell 10 - 11
                            .sect8__table-cell 11 - 12
                        .sect8__table-row.sect8__table-height
                            .sect8__table-cell.sect8__table-title Height
                            .sect8__table-cell 38 - 41”
                            .sect8__table-cell 41 - 44”
                            .sect8__table-cell 44 - 46.5”
                            .sect8__table-cell 46.5 - 50,5”
                            .sect8__table-cell 50.5 - 52.5”
                            .sect8__table-cell 55 - 58”
                            .sect8__table-cell 58 - 61”
                            .sect8__table-cell 61 - 62.5”
                            .sect8__table-cell 140
                        .sect8__table-row.sect8__table-weight
                            .sect8__table-cell.sect8__table-title Weight
                            .sect8__table-cell
                                div 35 - 39
                                div lbs
                            .sect8__table-cell
                                div 39 - 45
                                div lbs
                            .sect8__table-cell
                                div 45 - 50
                                div lbs
                            .sect8__table-cell
                                div 50 - 57
                                div lbs
                            .sect8__table-cell
                                div 57 - 65
                                div lbs
                            .sect8__table-cell
                                div 65 - 75
                                div lbs
                            .sect8__table-cell
                                div 75 - 86
                                div lbs
                            .sect8__table-cell
                                div 86 - 100
                                div lbs
                            .sect8__table-cell
                                div 100 - 108
                                div lbs
                        .sect8__table-row.sect8__table-chest
                            .sect8__table-cell.sect8__table-title Chest
                            .sect8__table-cell 21 - 22”
                            .sect8__table-cell 22 - 23”
                            .sect8__table-cell 23 - 24”
                            .sect8__table-cell 24 - 26”
                            .sect8__table-cell 26 - 27”
                            .sect8__table-cell 27 - 28.5”
                            .sect8__table-cell 28.5 - 30”
                            .sect8__table-cell 30 - 31.5”
                            .sect8__table-cell 31.5 - 33.5”
                        .sect8__table-row.sect8__table-waist
                            .sect8__table-cell.sect8__table-title Waist
                            .sect8__table-cell 21.5 - 22”
                            .sect8__table-cell 22 - 22.5”
                            .sect8__table-cell 22.5 - 23”
                            .sect8__table-cell 23 - 23.5”
                            .sect8__table-cell 23.5 - 24.25”
                            .sect8__table-cell 24.25 - 25”
                            .sect8__table-cell 25 - 26”
                            .sect8__table-cell 26 - 28”
                            .sect8__table-cell 28 - 30”

                a(href="").button.button--yellow.button--adptv#show-tbl SHOW TABLE

        .sect9
            .main2
                .title2.sect9__title Can't pick the right size?
                .sect9__subtitle
                    | We'll help you! Tell us the measurements of your child
                    br
                    | and we'll help you find the right size.

                a(href="").btn2.btn2--red.sect9__btn#show-modal-size Help with the size

        .sect10
            .main2

                .sect10__content
                    .title2.sect10__title Our customers are saying
                    .sect10__titlediv

                    .sect10__slider-dots#sect10__slider-dots
                    .sect10__slider#sect10__slider
                        .sect10__slide
                            .sect10__slide-img(style="background-image: url(./images/index2/sect10-1.png)")
                            .sect10__slide-content
                                .sect10__slide-text The waistband fit right and my daughter loved that it wasn’t super tight on her thighs or belly area.
                                .sect10__slide-author Emma
                        .sect10__slide
                            .sect10__slide-img(style="background-image: url(./images/index2/sect10-1.png)")
                            .sect10__slide-content
                                .sect10__slide-text Love the breathable wicking fabric. Would probably wear these under dresses, to bed or even out playing in the summer time!
                                .sect10__slide-author Chloe
                        .sect10__slide
                            .sect10__slide-img(style="background-image: url(./images/index2/sect10-1.png)")
                            .sect10__slide-content
                                .sect10__slide-text The idea of the bloomers under dresses and skirts is awesome, especially during the hot months I really like the moisture wicking materia, it was very lightweight and breathable.
                                .sect10__slide-author Olivia

            .sect11
                .main2
                    div video

            .sect12
                .main2
                    .sect12__content

                        form.sect12__form
                            .sect12__form-header Pre-order
                            .sect12__form-content
                                .sect12__form-label name
                                input(type="text").sect12__form-input

                                .sect12__form-label phone
                                input(type="tel").sect12__form-input

                                .sect12__form-label e-mail
                                input(type="email").sect12__form-input

                                .sect12__form-label size
                                input(type="text").sect12__form-input

                                button(href="").btn2.btn2--blue.sect12__form-btn send

            a(name="faq")
            .sect13
                .main2
                    .sect13__content
                        .sect13__desc
                            .sect13__title Frequently Asked Questions
                            .sect13__divider

                            a(href="").sect13__link How do I place an order?
                            a(href="").sect13__link How will my order be delivered?
                            a(href="").sect13__link How do I track my delivery?
                            a(href="").sect13__link How do I request a refund?
                            a(href="").sect13__link How do I pay?
                            a(href="").sect13__link How do I get in touch if I can’t reach you on the phone?
                        .sect13__logo
                            img(src="./images/index2/logo3.png", alt="")


        .h-blackout
        .modal.modal-form#order-modal
            .modal__close
            form.modal__content
                .modal-form__title.title Pre-order now

                .modal-form__row
                    input(type="text" placeholder="Name" required).modal-form__input
                .modal-form__row
                    input(type="tel" placeholder="Phone" required).modal-form__input
                .modal-form__row
                    input(type="email" placeholder="Email" required).modal-form__input
                .modal-form__row
                    input(type="text" placeholder="Size" required).modal-form__input#modal-form__input--size

                a(href="").button.button--blue.button--big.button--adptv.modal-form__btn-send send

        .modal.modal-form#size-modal
            .modal__close
            form.modal__content
                .modal-form__title.title Help in choosing size

                .modal-form__row
                    input(type="text" placeholder="Name" required).modal-form__input
                .modal-form__row
                    input(type="tel" placeholder="Phone" required).modal-form__input
                .modal-form__row
                    input(type="email" placeholder="Email" required).modal-form__input
                .modal-form__row.modal-form__row--double
                    div
                        input(type="text" placeholder="Girl's age" required).modal-form__input
                    div
                        input(type="text" placeholder="Growth" required).modal-form__input
                .modal-form__row.modal-form__row--double
                    div
                        input(type="text" placeholder="Waist girth" required).modal-form__input
                    div
                        input(type="text" placeholder="Hip girth" required).modal-form__input

                a(href="").button.button--blue.button--big.button--adptv To choose the right size


        
        script(src='js/foundation.js?7')
        script(src='js/jquery.zoom.min.js?7')

        script.
            $(function() {
                //- if ($(window).width() >= 768) {
                    
                //- }

                $('#sect10__slider').slick({
                    infinite: true,
                    dots: true,
                    appendDots: '#sect10__slider-dots',
                    autoplay: true,
                });

                $('.slider_product').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.slider_nav',
                    draggable: false,
                    responsive: [
                        { breakpoint: 900,
                            settings: {
                                dots: true
                            }
                        }
                    ]
                });

                $('.slider_nav').slick({
                    slidesToShow: 4,
                    slidesToScroll: 0,
                    asNavFor: '.slider_product',
                    dots: false,
                    centerMode: true,
                    focusOnSelect: true,
                    vertical: true,
                                        
                });

                if ($(window).width() >= 900) {
                    $('.slider_product__item').zoom({
                        magnify: "1.2"
                    });
                }

                $('.open-modal-order').on('click', function(e) {
                    e.preventDefault();
                    $('.h-blackout').show();
                    $('#order-modal').show();
                    $('#order-modal').css({
                        top: window.pageYOffset + 50
                    });

                    if ($(e.target).is('#order-with-size')) {
                        var size = $('#size-select').val();
                        $('#modal-form__input--size').val(size);
                    }
                });

                $('#show-modal-size').on('click', function(e) {
                    e.preventDefault();
                    $('.h-blackout').show();
                    $('#size-modal').show();
                    $('#size-modal').css({
                        top: window.pageYOffset + 50
                    });
                });

                $(window).on('click', function(e) {
                    if (
                        $(e.target).is('.modal__close') ||
                        $(e.target).is('.h-blackout')
                    ) {
                        $('.h-blackout').hide();
                        $('.modal').hide();
                    }
                });


                                // bueger

                $('.burger').click(function() {
                    $('.adaptmenu').addClass('adaptmenu_active');
                    $('body').css('overflow', 'hidden');
                });

                $('.close').click(function() {
                    $('.adaptmenu').removeClass('adaptmenu_active');
                    $('body').css('overflow', 'visible');
                    $('body').css('overflow-x', 'hidden');
                });

                $('.adaptmenu nav').click(function() {
                    $('.adaptmenu').removeClass('adaptmenu_active');
                    $('body').css('overflow', 'visible');
                    $('body').css('overflow-x', 'hidden');
                });

                // table

                $('#show-tbl').on('click', function(e) {
                    e.preventDefault();
                    $('.table2').toggleClass('adaptive_table');
                });

            });















