doctype html
html
    head
        title PageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href='./style/foundation.css')
        link(rel="stylesheet" href='./style/style.css?3')
    body

        section.section1
            .main
                header.header
                    .header__nav
                        a(href="").header__link Our product
                        a(href="").header__link Pick a size
                    .logo.header__logo
                    .header__nav
                        a(href="").header__link +7 000 000 00 00
                        a(href="").header__btn.button.button--blue.open-modal-order order

                    .header__btn-adaptive
                        a(href="").header__btn.button.button--red call
                        a(href="").header__btn.button.button--blue.open-modal-order order

                .section1__content
                    .section1__title.title
                        |Nadoes
                        br
                        |Run. Jump. Twirl

                    .section1__subtitle Modern Bloomers for Girls
                    .section1__btns
                        a(href="").button.button--blue.button--adptv.open-modal-order order
                        a(href="").button.button--transparent.button--adptv find out more

        section.section2
            .main
                .section2__top
                    .section2__top-img
                        img(src="/images/section2.png", alt="")
                    .title.section2__title We’ve Got You Covered...
                    .text.section2__desc
                        |NADOES were created to give girls the freedom to wear a skirt or dress and move around without the worry of showing their underwear. NADOES are made from an antibacterial, moisture wicking fabric to keep girls cool and comfortable. Every aspect of a girls’s body and their movement were taken into account while making NADOES.
                        br
                        div(style="height: 10px")
                        |They are meant to be loose fitting but not cumbersum. They allow girls to move without bunching up. The waistband is a soft, wide elastic designed to lie flat to prevent a bulky waist. And, although they are cute enough for people to see, they are made to feel like there is nothing there. Try them and see for yourself!

                .section2__cols
                    div
                        img(src="/images/section2-1.jpg", alt="").section2__cols-img
                        .section2__cols-text.text
                            | Moving faster than wind, towards
                            br
                            | adventures!
                            .section2__cols-btn
                                a(href="").button.button--blue.button--adptv.open-modal-order order
                    div
                        img(src="/images/section2-2.png", alt="").section2__cols-img
                        .section2__cols-text.text
                            | Bounding beyond the skies, with
                            br
                            | a jumping rope and without.
                            .section2__cols-btn
                                a(href="").button.button--blue.button--adptv.open-modal-order order
                    div
                        img(src="/images/section2-3.png", alt="").section2__cols-img
                        .section2__cols-text.text
                            | Pivoting on one foot or two, there is no
                            br
                            | stopping them
                            .section2__cols-btn
                                a(href="").button.button--blue.button--adptv.open-modal-order order


        section.section3
            .main
                .title.section3__title Comfortable, Lightweight, No Bunching

                .section3__blocks-dots#section3__blocks-dots
                .section3__blocks#section3__blocks
                    .section3__block
                        .section3__block-img.section3__block-img--1
                        .section3__block-title Stylish look
                        .section3__block-desc.text
                            | Goes well with clothes
                            br
                            | of any style
                    .section3__block
                        .section3__block-img.section3__block-img--2
                        .section3__block-title Freedom of movement
                        .section3__block-desc.text
                            | Your daughter will play, dance and
                            br
                            | move with no constraints
                    .section3__block
                        .section3__block-img.section3__block-img--3
                        .section3__block-title Fully conceals
                        .section3__block-desc.text
                            | Fashionably hides underwear
                            br
                            | to avoid awkward situations
                    .section3__block
                        .section3__block-img.section3__block-img--4
                        .section3__block-title Ideal for school girls
                        .section3__block-desc.text
                            | Neutral colors available to match
                            br
                            | school uniforms
                    .section3__block
                        .section3__block-img.section3__block-img--5
                        .section3__block-title Light and breathing
                        .section3__block-desc.text
                            | Moisture wic fabric for comfort even
                            br
                            | on hot summer days
                    .section3__block
                        .section3__block-img.section3__block-img--6
                        .section3__block-title made in the usa
                        .section3__block-desc.text
                            | Our product is proudly made
                            br
                            | in the USA
                    .section3__block
                        .section3__block-img.section3__block-img--7
                        .section3__block-title colors
                        .section3__block-desc.text
                            | Colors to go with a variety
                            br
                            | of clothing
                    .section3__block
                        .section3__block-img.section3__block-img--8
                        .section3__block-title By moms, for moms
                        .section3__block-desc.text
                            | Designs created with the needs of
                            br
                            | moms and daughter in mind

        section.section4
            .main
                img(src="/images/section4.png", alt="").section4__img

                .section4__title.title
                    | Upside down
                    br
                    | or right side up…
                .section4__subtitle
                    | we’ve got you covered!
                a(href="").button.button--blue.button--adptv.open-modal-order order

        section.section5
            .main
                .section5__title.title Order now
                .section5__blocks
                    div.section5__block-left
                        .section5__img.color-img.color-img--white(style="background-image: url('/images/shorts-white.png'); display: none;")
                        .section5__img.color-img.color-img--blue(style="background-image: url('/images/shorts-blue.png'); display: none;")
                        .section5__img.color-img.color-img--red(style="background-image: url('/images/shorts-red.png'); display: none;")
                        .section5__img.color-img.color-img--gray(style="background-image: url('/images/shorts-gray.png')")

                    div.section5__block-right
                        .section5__block-title Modern Bloomers

                        .section5__block-size
                            .section5__block-label Size:
                            select.select.section5__block-select#size-select
                                option(value="3/4Y") 3/4T
                                option(value="4/5Y") 4/5T

                        .section5__block-color
                            .section5__block-label Color:
                            .section5__colors
                                div.color-btn(style="background-color: #ffffff; border: 2px solid #d5d5d5;" data-color="white")
                                div.color-btn(style="background-color: #233d87;" data-color="blue")
                                div.color-btn(style="background-color: #bb1717;" data-color="red")
                                div.color-btn(style="background-color: #b1b1b1;" data-color="gray")

                        a(href="").button.button--blue.button--big.button--adptv.open-modal-order#order-with-size order

        section.section6
            .main
                .section6__title.title Sizes

                .table-wrapper
                    .section6__table.table#table
                        .table__header
                            .table__cell.table__cell--size Size
                            .table__cell.table__cell--age Age
                            .table__cell.table__cell--height Height
                            .table__cell.table__cell--weight Weight
                            .table__cell.table__cell--waist Waist
                        .table__body
                            .table__row
                                .table__cell.table__cell--size-left 4
                                .table__cell.table__cell--size-right XS
                                .table__cell.table__cell--age 3-4
                                .table__cell.table__cell--height 30-41
                                .table__cell.table__cell--weight 35-39 Ibs
                                .table__cell.table__cell--waist 21,5-22"
                            .table__row
                                .table__cell.table__cell--size-left 5
                                .table__cell.table__cell--size-right S
                                .table__cell.table__cell--age 4-5
                                .table__cell.table__cell--height 41-44
                                .table__cell.table__cell--weight 39-45 Ibs
                                .table__cell.table__cell--waist 22-22,5"
                            .table__row
                                .table__cell.table__cell--size-left 6
                                .table__cell.table__cell--size-right S
                                .table__cell.table__cell--age 5-6
                                .table__cell.table__cell--height 44-46,5
                                .table__cell.table__cell--weight 45-50 Ibs
                                .table__cell.table__cell--waist 22,5-23"
                            .table__row
                                .table__cell.table__cell--size-left 6X / 7
                                .table__cell.table__cell--size-right M
                                .table__cell.table__cell--age 6-7
                                .table__cell.table__cell--height 46,5-50,5
                                .table__cell.table__cell--weight 50-57 Ibs
                                .table__cell.table__cell--waist 23-23,5"
                            .table__row
                                .table__cell.table__cell--size-left 8
                                .table__cell.table__cell--size-right M
                                .table__cell.table__cell--age 7-8
                                .table__cell.table__cell--height 50,5-52,5
                                .table__cell.table__cell--weight 57-65 Ibs
                                .table__cell.table__cell--waist 23,5-24,25"
                            .table__row
                                .table__cell.table__cell--size-left 10
                                .table__cell.table__cell--size-right L
                                .table__cell.table__cell--age 8-9
                                .table__cell.table__cell--height 52,5-55
                                .table__cell.table__cell--weight 65-75 Ibs
                                .table__cell.table__cell--waist 24,25-25"
                            .table__row
                                .table__cell.table__cell--size-left 12
                                .table__cell.table__cell--size-right L
                                .table__cell.table__cell--age 9-10
                                .table__cell.table__cell--height 55-58
                                .table__cell.table__cell--weight 75-86 Ibs
                                .table__cell.table__cell--waist 25-26"
                            .table__row
                                .table__cell.table__cell--size-left 14
                                .table__cell.table__cell--size-right XL
                                .table__cell.table__cell--age 10-11
                                .table__cell.table__cell--height 58-61
                                .table__cell.table__cell--weight 86-100 Ibs
                                .table__cell.table__cell--waist 26-28"
                            .table__row
                                .table__cell.table__cell--size-left 16
                                .table__cell.table__cell--size-right XXL
                                .table__cell.table__cell--age 11-12
                                .table__cell.table__cell--height 61-62,50
                                .table__cell.table__cell--weight 100-108 Ibs
                                .table__cell.table__cell--waist 28-30"

                a(href="").button.button--yellow.button--adptv#show-tbl SHOW TABLE

                .section6__subtitle Can't pick the right size?

                .section6__text
                    | We'll help you! Tell us the measurements
                    br
                    | of your child and we'll help you find the right size.

                a(href="").button.button--blue.button--adptv#show-modal-size Help with the size

        section.section7
            .main
                .section7__title.title Sizes

                .carousel-prev#carousel-prev
                .carousel-next#carousel-next
                .carousel-dots#carousel-dots
                .carousel#carousel
                    .carousel__slide
                       .carousel__color(style="background-color: #ebad09;")
                       .carousel__subtitle Emma
                       .carousel__desc The waistband fit right and my daughter loved that it wasn’t super tight on her thighs or belly area.
                    .carousel__slide
                       .carousel__color(style="background-color: #22aee8;")
                       .carousel__subtitle Chloe
                       .carousel__desc Love the breathable wicking fabric. Would probably wear these under dresses, to bed or even out playing in the summer time!
                    .carousel__slide
                       .carousel__color(style="background-color: #92b738;")
                       .carousel__subtitle Olivia
                       .carousel__desc The idea of the bloomers under dresses and skirts is awesome, especially during the hot months I really like the moisture wicking materia, it was very lightweight and breathable.
                    .carousel__slide
                       .carousel__color(style="background-color: #ebad09;")
                       .carousel__subtitle Emma
                       .carousel__desc The waistband fit right and my daughter loved that it wasn’t super tight on her thighs or belly area.
                    .carousel__slide
                       .carousel__color(style="background-color: #22aee8;")
                       .carousel__subtitle Chloe
                       .carousel__desc Love the breathable wicking fabric. Would probably wear these under dresses, to bed or even out playing in the summer time!
                    .carousel__slide
                       .carousel__color(style="background-color: #92b738;")
                       .carousel__subtitle Olivia
                       .carousel__desc The idea of the bloomers under dresses and skirts is awesome, especially during the hot months I really like the moisture wicking materia, it was very lightweight and breathable.

        section.section8
            .main
                .section8__content
                    .section8__title.title My Princess needs these shorts

                    a(href="").button.button--yellow.button--adptv.open-modal-order order NOW

        footer.footer
            .main
                .footer__content
                    .footer__nav
                        a(href="").footer__link Our product
                        a(href="").footer__link Pick a size
                    .logo.footer__logo
                    .footer__nav
                        a(href="").footer__link +7 000 000 00 00


        .h-blackout
        .modal.modal-form#order-modal
            .modal__close
            form.modal__content
                .modal-form__title.title Pre-order now

                .modal-form__row
                    input(type="text" placeholder="Name" required).modal-form__input
                .modal-form__row
                    input(type="tel" placeholder="Phone" required).modal-form__input
                .modal-form__row
                    input(type="email" placeholder="Email" required).modal-form__input
                .modal-form__row
                    input(type="text" placeholder="Size" required).modal-form__input#modal-form__input--size

                a(href="").button.button--blue.button--big.button--adptv.modal-form__btn-send send

        .modal.modal-form#size-modal
            .modal__close
            form.modal__content
                .modal-form__title.title Help in choosing size

                .modal-form__row
                    input(type="text" placeholder="Name" required).modal-form__input
                .modal-form__row
                    input(type="tel" placeholder="Phone" required).modal-form__input
                .modal-form__row
                    input(type="email" placeholder="Email" required).modal-form__input
                .modal-form__row.modal-form__row--double
                    div
                        input(type="text" placeholder="Girl's age" required).modal-form__input
                    div
                        input(type="text" placeholder="Growth" required).modal-form__input
                .modal-form__row.modal-form__row--double
                    div
                        input(type="text" placeholder="Waist girth" required).modal-form__input
                    div
                        input(type="text" placeholder="Hip girth" required).modal-form__input

                a(href="").button.button--blue.button--big.button--adptv To choose the right size




        script(src='js/foundation.js')

        script.
            $(function() {

                $('.color-btn').on('click', function(e) {
                    $('.color-img').hide();
                    var currentColor = e.target.dataset.color;
                    $('.color-img--'+currentColor).show();
                });

                if ($(window).width() >= 768) {
                    $('#carousel').slick({
                        infinite: true,
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        dots: true,
                        prevArrow: '#carousel-prev',
                        nextArrow: '#carousel-next',
                        appendDots: '#carousel-dots',
                        autoplay: true,
                    });
                }



                if ($(window).width() < 768) {
                    $('#section3__blocks').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        appendDots: '#section3__blocks-dots',
                        autoplay: true,
                    });

                    $('#carousel').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        prevArrow: '#carousel-prev',
                        nextArrow: '#carousel-next',
                        appendDots: '#carousel-dots',
                        autoplay: true,
                    });

                    $('#show-tbl').on('click', function(e) {
                        e.preventDefault();
                        $('#table').addClass('not-adaptive');
                    });
                }


                $('.open-modal-order').on('click', function(e) {
                    e.preventDefault();
                    $('.h-blackout').show();
                    $('#order-modal').show();
                    $('#order-modal').css({
                        top: window.pageYOffset + 50
                    });

                    if ($(e.target).is('#order-with-size')) {
                        var size = $('#size-select').val();
                        $('#modal-form__input--size').val(size);
                    }
                });


                $('#show-modal-size').on('click', function(e) {
                    e.preventDefault();
                    $('.h-blackout').show();
                    $('#size-modal').show();
                    $('#size-modal').css({
                        top: window.pageYOffset + 50
                    });
                });

                $(window).on('click', function(e) {
                    if (
                        $(e.target).is('.modal__close') ||
                        $(e.target).is('.h-blackout')
                    ) {
                        $('.h-blackout').hide();
                        $('.modal').hide();
                    }
                })
            });









